.additional {
  border: none;
  margin-bottom: 10px;
}

.additional__title {
  @include titletext(24px,24px);
  padding-left: $padding-mobile;
  border-bottom: 2px solid $color-primary;
  transform: translateY(-10px);
  margin-bottom: 33px;

  @include tablet {
    padding-left: $padding-tablet-form;
    transform: translateY(-14px);
    margin-top: 36px;
    margin-bottom: 64px;
  }

  @include desktop {
    padding-left: $padding-desktop;
    margin-top: 40px;
    margin-bottom: 62px;
  }
}

.additional__title-text {
  background-color: #ffffff;
  max-width: 180px;
  display: block;
  padding: 0 20px;
  transform: translate(-20px, 10px);

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    max-width: 300px;
    padding: 0 40px;
    transform: translate(-40px, 10px);
  }
}

.additional__content-center {
  @include content-center;

  @include tablet {
    padding: 0 $padding-tablet-form;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }

  @include desktop {
    padding: 0 $padding-desktop;
    margin-bottom: 11px;
  }
}

.additional__label {
  @include titletext(16px,18px);
  text-transform: uppercase;
  display: block;
  margin-bottom: 26px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;
    margin-bottom: 53px;
    width: 40%;
  }

  @include desktop {
    width: 220px;
  }
}

.additional__label:nth-of-type(2n-1) {
  @include tablet {
    margin-right: 60px;
  }
}

.additional__label:nth-of-type(2n),
.additional__label:nth-of-type(2n-1) {
  @include desktop {
    margin-right: 104px;
  }
}

.additional__label:last-of-type,
.additional__label:nth-last-of-type(2) {
  @include tablet {
    margin-bottom: 0;
  }
}

.additional__label:last-of-type {
  @include desktop {
    margin-right: 0;
  }
}

.additional__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: solid 1px $color-menuline;
  cursor: pointer;

  @include tablet {
    width: 40px;
    height: 40px;
    top: -11px;
  }

  @include desktop {
    top: -10px;
  }
}

.additional__label::after {
  content: "";
  position: absolute;
  left: 10px;
  top: -1px;
  width: 12px;
  height: 20px;
  border: solid $color-primary;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;

  @include tablet {
    left: 16px;
    top: -2px;
  }

  @include desktop {
    top: -3px;
  }
}

.additional__input:checked + .additional__label::after {
  display: block;
}

.additional__input:not(:disabled):focus + .additional__label::before,
.additional__input:not(:disabled):hover + .additional__label::before {
  border-color: $color-line;
}

.additional__input:disabled + .additional_label {
  cursor: auto;
  opacity: 0.3;
}

.additional__input:disabled + .additional_label::before {
  cursor: auto;
}
