.basics {
  border: none;
  border-bottom: 1px solid $color-menuline;
  padding-bottom: 9px;

  @include tablet {
    border: none;
    padding: 0 $padding-tablet-form;
  }

  @include desktop {
    padding: 0;
    margin-right: 80px;
    width: 520px;
    flex-grow: 1;
  }
}

.basics__content-center {
  @include content-center;
}

.basics__label {
  @include titletext(16px,18px);
  text-transform: uppercase;
  margin-bottom: 14px;
  display: flex;
  align-items: baseline;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.basics__label:last-child {
  @include desktop {
    margin-bottom: 0;
  }
}

.basics__input {
  @include input;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: uppercase;
  flex-grow: 1;
  margin-left: 15px;

  @include tablet {
    margin-left: 18px;
  }
}

.basics__input:active::placeholder,
.basics__input:focus::placeholder {
  opacity: 0;
}

//.basics__input[type="number"] {
//-moz-appearance: textfield;
//}
