.btn {
  @include titletext(16px, 20px);
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  display: block;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.btn--green {
  color: #ffffff;
  background-color: $color-primary;

  &:focus,
  &:hover {
    background-color: $color-primary-dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $color-primary-dark;
  }
}

.btn--gray {
  color: $color-copy;
  background-color: $color-background;

  &:focus,
  &:hover {
    background-color: $color-menuline;
  }

  &:active {
    color: rgba($color-copy, 0.3);
    background-color: $color-menuline;
  }
}
