.catalog-main__heading {
  @include titletext(36px,60px);
  padding-left: $padding-mobile;
  margin-top: 17px;
  margin-bottom: 27px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    padding-left: $padding-tablet;
    margin-top: 54px;
    margin-bottom: 82px;
  }

  @include desktop {
    padding-left: $padding-desktop;
    margin-top: 18px;
  }
}

.catalog-main__products {
  list-style: none;
}

.catalog-main__wrapper {
  @include desktop {
    display: flex;
    justify-content: space-between;

    @include content-center;
    margin-bottom: 20px;
  }
}
