.contacts {
  background-color: $color-background;
  padding-top: 32px;

  &--index {
    background-color: #ffffff;
  }

  @include tablet {
    padding-top: 70px;
  }

  @include desktop {
    padding-top: 0;
  }
}

.contacts__content-center {
  @include content-center;

  @include tablet {
    padding: 0 70px;
  }

  @include desktop {
    position: relative;
  }
}

.contacts__card {
  margin-bottom: 32px;
  display: flex;

  @include tablet {
    justify-content: space-between;
    margin-bottom: 60px;
  }

  @include desktop {
    position: absolute;
    top: 95px;
    left: calc((100% - 1220px)/2);
    background-color: #ffffff;
    padding: 70px 80px;
    min-width: 570px;
  }
}

.contacts__title {
  @include titletext(16px,20px);
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    line-height: 25px;
    max-width: 160px;
  }
}

.contacts__address {
  @include copytext(14px,20px);

  @include tablet {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: right;
    max-width: 170px;
  };
}

.contacts__city {
  @include tablet {
    margin-top: 20px;
  }
}

.contacts__map {
  height: 360px;

  @include tablet {
    height: 400px;
  }
}

.contacts__map-content {
  border: none;
  width: 100%;
  min-height: 360px;

  @include tablet {
    min-height: 400px;
  }
}
