.contacts {
  background-color: $color-background;
  padding-top: 32px;

  &--index {
    background-color: #ffffff;
  }
}

.contacts__card {
  margin-bottom: 32px;
}

.contacts__title {
  @include titletext(16px,20px);
  text-transform: uppercase;
}

.contacts__address {
  @include copytext(14px,20px);
}

.contacts__map-content {
  border: none;
  width: 100%;
  height: 364px;
}
