.example {
  background-color: $color-background;
  padding-top: 34px;
  padding-bottom: 40px;

  @include tablet {
    background: linear-gradient(to top, $color-background 50%, #ffffff 50%);
  }

  @include desktop {
    padding-top: 50px;
    padding-bottom: 55px;
    background: linear-gradient(to top, $color-background 460px, #ffffff 460px);
  }
}

.example__content-center {
  @include content-center;

  @include desktop {
    position: relative;
  }
}

.example__heading {
  @include titletext(36px,60px);
  margin-bottom: 17px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 73px;
  }

  @include desktop {
    margin-bottom: 150px;
  }
}

.example__text {
  @include copytext (14px,18px);
  margin-bottom: 30px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  @include desktop {
    max-width: 450px;
  }
}

.example__stats-wrapper {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    max-width: 370px;
    flex-wrap: wrap;
  }
}

.example__expenses {
  @include titletext(14px,20px);
  text-transform: uppercase;
  display: block;
  text-align: center;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.example__rub {
  margin-top: 12px;

  @include desktop {
    margin-right: 40px;
  }
}
