.example {
  background-color: $color-background;
  padding-top: 18px;
  padding-bottom: 36px;

  @include tablet {
    background: linear-gradient(to top, $color-background 460px, #ffffff 460px);
    padding-top: 43px;
    padding-bottom: 70px;
  }

  @include desktop {
    padding-top: 22px;
    padding-bottom: 42px;
    background: linear-gradient(to top, $color-background 460px, #ffffff 460px);
  }
}

.example__content-center {
  @include content-center;

  @include desktop {
    position: relative;
  }
}

.example__heading {
  @include titletext(36px,60px);
  margin-bottom: 23px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @include desktop {
    margin-bottom: 145px;
  }
}

.example__text {
  @include copytext (14px,18px);
  margin-bottom: 25px;
  padding-right: 1px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    padding-right: 10px;
  }

  @include desktop {
    max-width: 449px;
    margin-bottom: 69px;
  }
}

.example__stats-wrapper {
  margin-bottom: 33px;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    max-width: 370px;
    flex-wrap: wrap;
  }
}

.example__expenses {
  @include titletext(14px,20px);
  text-transform: uppercase;
  display: block;
  text-align: center;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.example__rub {
  margin-top: 12px;

  @include desktop {
    margin-right: 40px;
  }
}
