.example {
  background-color: $color-background;
  padding-top: 34px;
  padding-bottom: 40px;
}

.example__content-center {
  @include content-center;
}

.example__heading {
  @include titletext(36px,60px);
  margin-bottom: 17px;
}

.example__text {
  @include copytext (14px,18px);
}

.example__expenses {
  @include titletext(14px,20px);
  text-transform: uppercase;
}
