.facts__value {
  @include titletext(24px,24px);
  text-align: center;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 16px;
  border: 1px solid $color-line;
  border-radius: 3px;
}

.facts__type {
  @include copytext(12px,12px);
  background-color: $color-background;
  padding: 5px;
}
