.form-main__form {
  padding-top: 39px;
  padding-bottom: 31px;

  @include tablet {
    padding-top: 66px;
    padding-bottom: 85px;
  }
}

.form-main__heading {
  @include titletext(36px,60px);
  margin-top: 16px;
  margin-bottom: 25px;
  padding-left: $padding-mobile;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    padding-left: $padding-tablet;
    margin-top: 54px;
    margin-bottom: 55px;
  }

  @include desktop {
    padding-left: $padding-desktop;
    margin-top: 19px;
    margin-bottom: 55px;
  }
}

.form-main__subline {
  @include titletext(14px,18px);
  text-transform: uppercase;
  padding-left: $padding-mobile;
  padding-right: calc(#{$padding-mobile} + 40px);

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    max-width: 54%;
    padding-left: $padding-tablet-form;
    padding-right: calc(#{$padding-tablet} - 10px);
  }

  @include desktop {
    padding-left: $padding-desktop;
    padding-right: 0;
    max-width: 440px;
  }
}
