.form-main__form {
  padding-top: 32px;
  padding-bottom: 34px;
}

.form-main__heading {
  @include titletext(36px,60px);
  margin-bottom: 23px;
}

.form-main__subline {
  @include titletext(14px,18px);
  text-transform: uppercase;
}
