.goal {
  border: none;
  border-bottom: 1px solid $color-menuline;
  padding-top: 26px;

  @include tablet {
    border: 1px solid $color-menuline;
    margin-left: $padding-tablet-form;
    border-right: none;
    margin-top: 52px;
    padding-top: 33px;
    padding-left: 44px;
  }

  @include desktop {
    margin: 0;
    width: 520px;
    border: 1px solid $color-menuline;
    flex-grow: 1;
  }
}

.goal__content-center {
  @include content-center;
}

.goal__label {
  @include titletext(16px,18px);
  text-transform: uppercase;
  display: block;
  margin-bottom: 33px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.goal__label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px $color-menuline;
  cursor: pointer;

  @include tablet {
    width: 40px;
    height: 40px;
    top: -9px;
    left: -16px;
  }
}

.goal__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $color-primary;
  display: none;

  @include tablet {
    width: 18px;
    height: 18px;
    top: 2px;
    left: -5px;
  }
}

.goal__choice:checked + .goal__label::after {
  display: block;
}

.goal__choice:not(:disabled):focus + .goal__label::before,
.goal__choice:not(:disabled):hover + .goal__label::before {
  border-color: $color-line;
}

.goal__choice:disabled + .goal__label {
  cursor: auto;
  opacity: 0.3;
}

.goal__choice:disabled + .goal__label::before {
  cursor: auto;
}
