.owner-contacts {
  border: none;
  padding-top: 30px;

  @include tablet {
    padding-top: 19px;
  }
}

.owner-contacts__content-center {
  @include content-center;
  padding-top: 30px;

  @include tablet {
    padding: 0 $padding-tablet-form;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $padding-desktop;
  }
}

.owner-contacts__title {
  @include titletext(24px,24px);
  padding-left: $padding-mobile;
  border-bottom: 2px solid $color-primary;
  transform: translateY(-34px);

  @include tablet {
    padding-left: $padding-tablet-form;
    transform: translateY(-14px);
    margin-top: 60px;
    margin-bottom: 72px;
  }

  @include desktop {
    padding-left: $padding-desktop;
    margin-top: 52px;
  }
}

.owner-contacts__title-text {
  background-color: #ffffff;
  max-width: 224px;
  display: block;
  padding: 0 20px;
  transform: translate(-20px, 34px);

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    max-width: 600px;
    padding: 0 40px;
    transform: translate(-40px, 10px);
  }
}

.owner-contacts__label {
  @include titletext(16px,18px);
  text-transform: uppercase;
  margin-bottom: 14px;
  display: flex;
  align-items: baseline;
  position: relative;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  @include desktop {
    flex: 1 1 45%;
  }
}

.owner-contacts__label:first-child {
  @include desktop {
    margin-right: 80px;
  }
}

.owner-contacts__input {
  @include input;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: uppercase;
  flex-grow: 1;
  margin-left: 12px;

  @include tablet {
    margin-left: 20px;
  }
}

.owner-contacts__input:active::placeholder,
.owner-contacts__input:focus::placeholder {
  opacity: 0;
}

.owner-contacts__icon {
  position: absolute;
  fill: $color-copy;

  &--mail {
    top: 18px;
    right: 15px;

    @include tablet {
      top: 20px;
      right: 18px;
    }
  }

  &--phone {
    top: 14px;
    right: 12px;

    @include tablet {
      top: 17px;
      right: 18px;
    }
  }
}

.owner-contacts__input:focus + .owner-contacts__icon,
.owner-contacts__input:invalid:focus + .owner-contacts__icon {
  fill: $color-primary;
}

.owner-contacts__input:not(:placeholder-shown):invalid + .owner-contacts__icon {
  fill: $color-error;
}
