.owner-contacts__title {
  @include titletext(24px,24px);
}

.owner-contacts__label {
  @include titletext(16px,18px);
  text-transform: uppercase;
}

.owner-contacts__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: uppercase;
}
