.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  @include content-center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 1px solid $color-menuline;

  @include tablet {
    margin-left: 0;
    border: none;
  }
}

.page-header__logo:link:hover,
.page-header__logo:visited:hover {
  opacity: 0.8;
}

.page-header__logo-pic {
  width: 190px;
  height: 42px;

  @include tablet {
    width: 173px;
    height: 60px;
  }

  @include desktop {
    width: 203px;
    height: 60px;
  }
}
