.product-card {
  @include content-center;
  border-top: 1px solid $color-menuline;
  padding-bottom: 22px;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include tablet {
    display: block;
    padding: 0 0 40px;
    border: none;
    background-image: linear-gradient(to top, $color-background 427px, $color-transparent 428px, $color-transparent 100%);
  }

  @include desktop {
    max-width: 245px;
  }
}

.product-card__pic-link {
  @include tablet {
    display: block;
    margin: 0 auto 37px;
  }
}

.product-card__pic {
  width: 140px;
  height: auto;

  @include tablet {
    width: 324px;
    margin-left: calc(50% - 162px);
  }

  @include desktop {
    width: 245px;
    margin-left: calc(50% - 122px);
  }
}

.product-card__pic--small {
  @include tablet {
    padding-top: 36px;
  }
}

.product-card__text-wrapper {
  flex: 1 1 50%;

  @include tablet {
    padding: 0 40px;
  }
}

.product-card__title {
  @include titletext(16px,20px);
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;

  @include tablet {
    font-size: 20px;
    text-align: center;
    display: block;
    max-width: 140px;
    margin: 0 auto 17px;
  }
}

.product-card__title br {
  @include tablet {
    display: none;
  }
}

.product-card__info {
  @include copytext(12px,16px);
  width: 100%;

  @include tablet {
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
  }
}

.product-card__info tr {
  display: flex;
  justify-content: space-between;

  @include tablet {
    padding: 8px 0;
    border-bottom: 1px solid $color-line;
  }
}

.product-card__btn {
  width: 100%;
  max-height: 40px;
  padding-top: 10px;

  @include tablet {
    width: 244px;
    margin: 30px auto 0;
  }

  @include desktop {
    width: 170px;
  }
}
