.process {
  padding-top: 14px;
  padding-bottom: 16px;

  @include tablet {
    border-bottom: 1px solid $color-menuline;
  }

  @include desktop {
    padding-top: 60px;
    border: none;
  }
}

.process__content-center {
  @include content-center;
}

.process__heading {
  @include titletext(36px,60px);

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 76px;
  }
}

.process__list {
  list-style: none;
  margin-top: 30px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    counter-reset: process-steps;
  }

  @include desktop {
    justify-content: space-between;
  }
}

.process__item {
  margin-bottom: 26px;
  padding-left: 80px;
  position: relative;

  @include tablet {
    width: 50%;
    padding-left: 0;
    padding-top: 120px;
    padding-right: 100px;
    counter-increment: process-steps;
  }

  @include desktop {
    max-width: 250px;
    padding-right: 0;
    padding-top: 110px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $color-primary;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--fork::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.process__item:first-child {
  @include tablet {
    margin-bottom: 140px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.process__text {
  @include copytext(14px,18px);

  @include tablet {
    position: relative;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 24px;
  }
}

.process__text::before {
  @include tablet {
    content: counter(process-steps);
    position: absolute;
    top: -60px;
    right: 0;
    font-size: 280px;
    font-family: "Oswald", sans-serif;
    color: $color-background;
    z-index: -1;
  }

  @include desktop {
    top: -40px;
  }
}

.process__text:first-child::before {
  @include tablet {
    right: 15px;
  }
}
