.process {
  padding-top: 14px;
  padding-bottom: 16px;
}

.process__content-center {
  @include content-center;
}

.process__heading {
  @include titletext(36px,60px);
}

.process__list {
  list-style: none;
  margin-top: 30px;
}

.process__item {
  margin-bottom: 26px;
  padding-left: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $color-primary;
  }
}

.process__text {
  @include copytext(14px,18px);
}
