.site-list {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid $color-menuline;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    border: none;
  };
}

.site-list__item {
  padding-top: 26px;
  padding-bottom: 26px;
  border-top: 1px solid $color-menuline;

  @include tablet {
    border: none;
    margin-left: 36px;
    padding: 0;
  }
}

.site-list__link {
  @include titletext(20px,20px);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;

  @include tablet {
    font-size: 16px;
    line-height: 55px;
    font-weight: 400;
    padding-bottom: 14px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 24px;
    color: inherit;
  }
}

.site-list__item--active .site-list__link {
  @include tablet {
    border-bottom: 2px solid $color-primary;
  }
}

.site-list__item--inverse .site-list__link {
  @include desktop {
    border-bottom: 2px solid #ffffff;
  }
}

.site-list__link:link,
.site-list__link:visited {
  &:hover {
    opacity: 0.6;
  }
}

.site-list__link:link,
.site-list__link:visited {
  &:active {
    opacity: 0.3;
  }
}
