.slider {
  @include tablet {
    width: 600px;
    margin: 0 auto;
  }

  @include desktop {
    position: absolute;
    left: 50%;
    top: -20px;
  }
}

.slider__label {
  @include titletext(16px,20px);
  text-transform: uppercase;
  cursor: pointer;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dotted $color-line;

    &:focus,
    &:hover {
      outline: none;
      border-bottom: 1px solid $color-line;
    }
  };
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__before:checked ~ .slider__scale {
  justify-content: flex-start;
}

.slider__scale {
  display: flex;
  align-items: center;

  @include tablet {
    width: 428px;
    height: 6px;
    background-color: $color-menuline;
    border-radius: 3px;
  };
}

.slider__indicator {
  @include tablet {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-image: radial-gradient($color-primary 0, $color-primary 4px, #ffffff 5px, #ffffff 100%);
    border: 1px solid $color-menuline;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      cursor: pointer;
    }
  }
}
