.social {
  width: 100%;
  border-top: 1px solid $color-line;
  border-bottom: 1px solid $color-line;

  @include tablet {
    width: auto;
  }
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social__item {
  padding-top: 25px;
  padding-bottom: 16px;
  margin: 0 18px;
  width: 21px;
}

.social__link {
  display: inline-block;
}

.social__icon {
  fill: $color-copy;

  @include tablet {
    &--vkontakte {
      width: 34px;
      height: 18px;
      margin-top: 2px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
      margin-top: -2px;
    }
  }
}

.social__icon:hover {
  fill: $color-primary;
}

.social__icon:active {
  fill: $color-primary;
  opacity: 0.3;
}
