.supplies {
  @include tablet {
    padding-top: 12px;
  }

  @include desktop {
    padding-top: 24px;
  }
}

.supplies__heading {
  padding-left: $padding-mobile;
  border-bottom: 2px solid $color-primary;
  transform: translateY(-14px);
  margin-bottom: 30px;

  @include tablet {
    padding-left: $padding-tablet;
    margin-bottom: 75px;
  }
}

.supplies__heading-text {
  @include titletext(24px,24px);
  display: inline-block;
  background-color: #ffffff;
  transform: translate(-20px, 14px);
  padding-left: 20px;
  padding-right: 24px;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    transform: translate(-5px, 10px);
  }

  @include desktop {
    padding: 0 40px;
    transform: translate(-295px, 10px);
  }
}

.supplies__content-center {
  @include content-center;

  @include desktop {
    padding: 0;
  }

  @include desktop {
    width: 895px;
    margin: 0;
  }
}

.supplies__list {
  list-style: none;

  @include desktop {
    display: block;
  }
}

.supplies__item {
  border-top: 1px solid $color-line;
  padding-top: 12px;
  padding-bottom: 14px;

  &:last-child {
    border-bottom: 1px solid $color-line;
  }

  @include tablet {
    padding: 27px 40px 24px;
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-wrap: nowrap;
    align-items: center;
    padding: 13px 0;
  }
}

.supplies__title {
  @include titletext(16px,16px);
  text-transform: uppercase;
  margin-bottom: 14px;

  @include tablet {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 0;
  }

  @include desktop {
    font-size: 20px;
    line-height: 20px;
  }
}

.supplies__wrapper {
  display: flex;
  justify-content: space-between;

  @include tablet {
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
  }

  @include desktop {
    display: flex;
    width: 290px;
  }
}

.supplies__amount,
.supplies__price {
  @include copytext(14px,14px);

  @include tablet {
    font-size: 16px;
    text-align: right;
  }

  @include desktop {
    font-size: 16px;
    line-height: 20px;
  }
}

.supplies__amount {
  @include desktop {
    text-align: left;
  }
}

.supplies__price {
  @include tablet {
    margin-left: 52px;
  }
}

.supplies__btn {
  width: 100%;
  margin-top: 12px;

  @include tablet {
    margin-top: 25px;
  }

  @include desktop {
    max-width: 245px;
    margin: 0 0 0 35px;
  }
}
