*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 400; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  color: #111111;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.additional {
  border: none; }

.additional__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  padding-left: calc((100% - 280px) / 2);
  border-bottom: 2px solid #68b738;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .additional__title {
      padding-left: calc((100% - 630px) / 2);
      -webkit-transform: translateY(-14px);
              transform: translateY(-14px);
      margin-top: 60px;
      margin-bottom: 72px; } }
  @media (min-width: 1300px) {
    .additional__title {
      padding-left: calc((100% - 1220px) / 2); } }

.additional__title-text {
  background-color: #ffffff;
  max-width: 180px;
  display: block;
  padding: 0 20px;
  -webkit-transform: translate(-20px, 10px);
          transform: translate(-20px, 10px); }
  @media (min-width: 768px) {
    .additional__title-text {
      font-size: 36px;
      line-height: 36px;
      max-width: 300px;
      padding: 0 40px;
      -webkit-transform: translate(-40px, 10px);
              transform: translate(-40px, 10px); } }

.additional__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .additional__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .additional__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 768px) {
    .additional__content-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 55px; } }
  @media (min-width: 1300px) {
    .additional__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }

.additional__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  display: block;
  margin-bottom: 26px;
  padding-left: 45px; }
  @media (min-width: 768px) {
    .additional__label {
      font-size: 20px;
      line-height: 20px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 50%;
              flex: 1 1 50%; } }
  @media (min-width: 1300px) {
    .additional__label {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; } }

.basics {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px; }
  @media (min-width: 768px) {
    .basics {
      border: none;
      padding: 0 calc((100% - 630px) / 2); } }
  @media (min-width: 1300px) {
    .basics {
      padding: 0;
      margin-right: 80px; } }

.basics__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .basics__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .basics__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }

.basics__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  @media (min-width: 768px) {
    .basics__label {
      font-size: 20px;
      line-height: 20px; } }

@media (min-width: 1300px) {
  .basics__label:last-child {
    margin-bottom: 0; } }

.basics__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: uppercase;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 15px; }

.btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  display: block; }
  @media (min-width: 768px) {
    .btn {
      font-size: 16px;
      line-height: 20px; } }

.btn--green {
  color: #ffffff;
  background-color: #68b738; }
  .btn--green:focus, .btn--green:hover {
    background-color: #5eaa2f; }
  .btn--green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f; }

.btn--gray {
  color: #444444;
  background-color: #f2f2f2; }
  .btn--gray:focus, .btn--gray:hover {
    background-color: #e6e6e6; }
  .btn--gray:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #e6e6e6; }

.catalog-main__heading {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  padding-left: calc((100% - 280px) / 2);
  margin-top: 24px;
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .catalog-main__heading {
      font-size: 60px;
      line-height: 60px;
      padding-left: calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .catalog-main__heading {
      padding-left: calc((100% - 1220px) / 2); } }

.catalog-main__products {
  list-style: none; }

@media (min-width: 1300px) {
  .catalog-main__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    padding: 0 calc((100% - 280px) / 2);
    margin: 0 auto; } }
  @media (min-width: 1300px) and (min-width: 768px) {
    .catalog-main__wrapper {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) and (min-width: 1300px) {
    .catalog-main__wrapper {
      padding: 0 calc((100% - 1220px) / 2); } }

.comment {
  border: none;
  padding-bottom: 30px; }

.comment__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  padding-left: calc((100% - 280px) / 2);
  border-bottom: 2px solid #68b738;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .comment__title {
      padding-left: calc((100% - 630px) / 2);
      -webkit-transform: translateY(-14px);
              transform: translateY(-14px);
      margin-top: 60px;
      margin-bottom: 72px; } }
  @media (min-width: 1300px) {
    .comment__title {
      padding-left: calc((100% - 1220px) / 2); } }

.comment__title-text {
  background-color: #ffffff;
  max-width: 160px;
  display: block;
  padding: 0 20px;
  -webkit-transform: translate(-20px, 10px);
          transform: translate(-20px, 10px); }
  @media (min-width: 768px) {
    .comment__title-text {
      font-size: 36px;
      line-height: 36px;
      max-width: 250px;
      padding: 0 40px;
      -webkit-transform: translate(-40px, 10px);
              transform: translate(-40px, 10px); } }

.comment__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .comment__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .comment__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 768px) {
    .comment__content-center {
      padding: 0 calc((100% - 630px) / 2); } }
  @media (min-width: 1300px) {
    .comment__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }

.comment__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  padding: 15px 12px 15px 15px;
  border: 1px solid #cdcdcd;
  min-width: 280px; }
  @media (min-width: 768px) {
    .comment__input {
      font-size: 20px;
      line-height: 20px;
      width: 100%; } }

.contacts {
  background-color: #f2f2f2;
  padding-top: 32px; }
  .contacts--index {
    background-color: #ffffff; }
  @media (min-width: 768px) {
    .contacts {
      padding-top: 70px; } }
  @media (min-width: 1300px) {
    .contacts {
      padding-top: 0; } }

.contacts__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .contacts__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .contacts__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 768px) {
    .contacts__content-center {
      padding: 0 70px; } }
  @media (min-width: 1300px) {
    .contacts__content-center {
      position: relative; } }

.contacts__card {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 768px) {
    .contacts__card {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 60px; } }
  @media (min-width: 1300px) {
    .contacts__card {
      position: absolute;
      top: 95px;
      left: calc((100% - 1220px) / 2);
      background-color: #ffffff;
      padding: 70px 80px;
      min-width: 570px; } }

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .contacts__title {
      font-size: 20px;
      line-height: 25px;
      max-width: 160px; } }

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }
  @media (min-width: 768px) {
    .contacts__address {
      font-size: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: right;
      max-width: 170px; } }

@media (min-width: 768px) {
  .contacts__city {
    margin-top: 20px; } }

.contacts__map {
  height: 360px; }
  @media (min-width: 768px) {
    .contacts__map {
      height: 400px; } }

.contacts__map-content {
  border: none;
  width: 100%;
  min-height: 360px; }
  @media (min-width: 768px) {
    .contacts__map-content {
      min-height: 400px; } }

.copyright {
  margin-top: 20px; }

.copyright__link {
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.example {
  background-color: #f2f2f2;
  padding-top: 34px;
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    .example {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #f2f2f2), color-stop(50%, #ffffff));
      background: linear-gradient(to top, #f2f2f2 50%, #ffffff 50%); } }
  @media (min-width: 1300px) {
    .example {
      padding-top: 50px;
      padding-bottom: 55px;
      background: linear-gradient(to top, #f2f2f2 460px, #ffffff 460px); } }

.example__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .example__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .example__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 1300px) {
    .example__content-center {
      position: relative; } }

.example__heading {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 17px; }
  @media (min-width: 768px) {
    .example__heading {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 73px; } }
  @media (min-width: 1300px) {
    .example__heading {
      margin-bottom: 150px; } }

.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .example__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 60px; } }
  @media (min-width: 1300px) {
    .example__text {
      max-width: 450px; } }

@media (min-width: 768px) {
  .example__stats-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 1300px) {
  .example__stats-wrapper {
    max-width: 370px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.example__expenses {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  display: block;
  text-align: center; }
  @media (min-width: 768px) {
    .example__expenses {
      font-size: 20px;
      line-height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; } }
  @media (min-width: 1300px) {
    .example__expenses {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%; } }

.example__rub {
  margin-top: 12px; }
  @media (min-width: 1300px) {
    .example__rub {
      margin-right: 40px; } }

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }

.facts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .facts__wrapper {
      margin-right: 45px; } }

.facts__value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 16px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: block;
  width: 124px; }
  @media (min-width: 768px) {
    .facts__value {
      font-size: 30px;
      line-height: 37px;
      min-width: 160px; } }
  @media (min-width: 1300px) {
    .facts__value {
      min-width: 165px; } }

.facts__type {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  background-color: #f2f2f2;
  padding: 5px;
  margin-top: -12px;
  display: block;
  width: 87px;
  text-align: center; }
  @media (min-width: 768px) {
    .facts__type {
      font-size: 14px;
      line-height: 14px;
      width: auto;
      padding-left: 10px;
      margin-top: -14px; } }

.form-main__form {
  padding-top: 32px;
  padding-bottom: 34px; }

.form-main__heading {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin-top: 32px;
  margin-bottom: 23px;
  padding-left: calc((100% - 280px) / 2); }
  @media (min-width: 768px) {
    .form-main__heading {
      font-size: 60px;
      line-height: 60px;
      padding-left: calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .form-main__heading {
      padding-left: calc((100% - 1220px) / 2);
      margin-bottom: 55px; } }

.form-main__subline {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  padding-left: calc((100% - 280px) / 2); }
  @media (min-width: 768px) {
    .form-main__subline {
      font-size: 20px;
      line-height: 30px;
      max-width: 54%;
      padding-left: calc((100% - 630px) / 2); } }
  @media (min-width: 1300px) {
    .form-main__subline {
      padding-left: calc((100% - 1220px) / 2);
      max-width: 440px; } }

.goal {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 30px; }
  @media (min-width: 768px) {
    .goal {
      border: 1px solid #e6e6e6;
      margin-left: calc((100% - 630px) / 2);
      border-right: none;
      margin-top: 58px; } }
  @media (min-width: 1300px) {
    .goal {
      margin: 0;
      border: 1px solid #e6e6e6; } }

.goal__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .goal__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .goal__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }

.goal__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  display: block;
  margin-bottom: 26px;
  padding-left: 45px; }
  @media (min-width: 768px) {
    .goal__label {
      font-size: 20px;
      line-height: 20px; } }

.hero {
  color: #ffffff;
  background: linear-gradient(to top, #ffffff, #ffffff 195px, #68b738 195px);
  text-align: center;
  padding-top: 32px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .hero {
      background: #ffffff;
      padding-bottom: 515px; } }

.hero__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .hero__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .hero__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 768px) {
    .hero__content-center {
      padding: 0 120px; } }

.hero__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #111111;
  font-weight: 400;
  color: inherit;
  margin-bottom: 11px; }
  @media (min-width: 768px) {
    .hero__heading {
      font-size: 60px;
      line-height: 60px;
      font-weight: 400;
      color: #111111;
      text-align: left;
      margin-bottom: 46px; } }

.hero__subline {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 303px; }
  @media (min-width: 768px) {
    .hero__subline {
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      color: #111111;
      text-align: left;
      margin-bottom: 45px; } }

.hero__btn {
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .hero__btn {
      font-size: 20px;
      line-height: 20px;
      padding: 20px auto;
      width: 245px; } }

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 30px 0; } }

@media (min-width: 1300px) {
  .main-nav {
    padding: 55px calc((100% - 1220px) / 2); } }

@media (min-width: 1300px) {
  .main-nav--inverse {
    background-image: linear-gradient(to right, #ffffff 0, #ffffff calc(50% + 30px), #68b738 calc(50% + 30px), #68b738 100%);
    color: #ffffff; } }

.owner-contacts {
  border: none;
  padding-top: 30px; }

.owner-contacts__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto;
  padding-top: 30px; }
  @media (min-width: 768px) {
    .owner-contacts__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .owner-contacts__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 768px) {
    .owner-contacts__content-center {
      padding: 0 calc((100% - 630px) / 2); } }
  @media (min-width: 1300px) {
    .owner-contacts__content-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0 calc((100% - 1220px) / 2); } }

.owner-contacts__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  padding-left: calc((100% - 280px) / 2);
  border-bottom: 2px solid #68b738;
  -webkit-transform: translateY(-34px);
          transform: translateY(-34px); }
  @media (min-width: 768px) {
    .owner-contacts__title {
      padding-left: calc((100% - 630px) / 2);
      -webkit-transform: translateY(-14px);
              transform: translateY(-14px);
      margin-top: 60px;
      margin-bottom: 72px; } }
  @media (min-width: 1300px) {
    .owner-contacts__title {
      padding-left: calc((100% - 1220px) / 2); } }

.owner-contacts__title-text {
  background-color: #ffffff;
  max-width: 230px;
  display: block;
  padding: 0 20px;
  -webkit-transform: translate(-20px, 34px);
          transform: translate(-20px, 34px); }
  @media (min-width: 768px) {
    .owner-contacts__title-text {
      font-size: 36px;
      line-height: 36px;
      max-width: 600px;
      padding: 0 40px;
      -webkit-transform: translate(-40px, 10px);
              transform: translate(-40px, 10px); } }

.owner-contacts__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  @media (min-width: 768px) {
    .owner-contacts__label {
      font-size: 20px;
      line-height: 20px; } }
  @media (min-width: 1300px) {
    .owner-contacts__label {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 45%;
              flex: 1 1 45%; } }

@media (min-width: 1300px) {
  .owner-contacts__label:first-child {
    margin-right: 80px; } }

.owner-contacts__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: uppercase;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 15px;
  position: relative; }

.owner-contacts__icon {
  position: absolute; }

.page-footer {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    .page-footer {
      padding: 70px 30px; } }

.page-footer__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 768px) {
    .page-footer__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .page-footer__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 768px) {
    .page-footer__content-center {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0; } }

.page-footer__logo-text {
  display: block;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .page-footer__logo-text {
      margin: 0; } }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-header__logo {
  height: 38px; }

@media (min-width: 768px) {
  .page-header__logo {
    height: 58px; } }

@media (min-width: 1300px) {
  .page-header__logo {
    height: 59px; } }

.present {
  background-color: #68b738;
  text-align: center;
  margin: 39px calc((100% - 280px) / 2) 37px;
  position: relative; }
  @media (min-width: 768px) {
    .present {
      margin: 39px calc((100% - 708px) / 2) 37px; } }
  @media (min-width: 1300px) {
    .present {
      margin: 0;
      padding: 80px 40px 50px;
      max-width: 245px; } }

.present__icon {
  position: absolute; }

.present__text {
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  color: #ffffff;
  padding: 190px 60px 50px; }
  @media (min-width: 768px) {
    .present__text {
      padding: 70px 122px 70px 420px;
      text-align: left; } }

.process {
  padding-top: 14px;
  padding-bottom: 16px; }
  @media (min-width: 768px) {
    .process {
      border-bottom: 1px solid #e6e6e6; } }
  @media (min-width: 1300px) {
    .process {
      padding-top: 60px;
      border: none; } }

.process__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .process__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .process__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }

.process__heading {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111; }
  @media (min-width: 768px) {
    .process__heading {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 76px; } }

.process__list {
  list-style: none;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .process__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      counter-reset: process-steps; } }
  @media (min-width: 1300px) {
    .process__list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.process__item {
  margin-bottom: 26px;
  padding-left: 80px;
  position: relative; }
  @media (min-width: 768px) {
    .process__item {
      width: 50%;
      padding-left: 0;
      padding-top: 120px;
      padding-right: 100px;
      counter-increment: process-steps; } }
  @media (min-width: 1300px) {
    .process__item {
      max-width: 250px;
      padding-right: 0;
      padding-top: 110px; } }
  .process__item::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738; }
    @media (min-width: 768px) {
      .process__item::before {
        width: 80px;
        height: 80px; } }

@media (min-width: 768px) {
  .process__item:first-child {
    margin-bottom: 140px; } }

@media (min-width: 1300px) {
  .process__item:first-child {
    margin-bottom: 0; } }

.process__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }
  @media (min-width: 768px) {
    .process__text {
      position: relative;
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 1300px) {
    .process__text {
      font-size: 16px;
      line-height: 24px; } }

@media (min-width: 768px) {
  .process__text::before {
    content: counter(process-steps);
    position: absolute;
    top: -60px;
    right: 0;
    font-size: 280px;
    font-family: "Oswald", sans-serif;
    color: #f2f2f2;
    z-index: -1; } }

@media (min-width: 1300px) {
  .process__text::before {
    top: -40px; } }

@media (min-width: 768px) {
  .process__text:first-child::before {
    right: 15px; } }

.product-card {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto;
  border-top: 1px solid #e6e6e6;
  padding-bottom: 25px;
  padding-top: 25px; }
  @media (min-width: 768px) {
    .product-card {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .product-card {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 768px) {
    .product-card {
      padding: 0 40px 40px;
      border: none;
      background-image: linear-gradient(to top, #f2f2f2 420px, rgba(1, 1, 1, 0) 421px, rgba(1, 1, 1, 0) 100%); } }

@media (min-width: 768px) {
  .product-card__pic-link {
    display: block;
    margin: 0 auto; } }

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none; }
  @media (min-width: 768px) {
    .product-card__title {
      font-size: 20px;
      text-align: center;
      display: block;
      max-width: 140px;
      margin: 0 auto 30px; } }

@media (min-width: 768px) {
  .product-card__title br {
    display: none; } }

.product-card__info {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }
  @media (min-width: 768px) {
    .product-card__info {
      font-size: 16px;
      width: 100%;
      border-collapse: collapse; } }

@media (min-width: 768px) {
  .product-card__info td {
    padding: 12px 0;
    border-bottom: 1px solid #cdcdcd; } }

.product-card__info td:nth-child(2n) {
  text-align: right; }

.product-card__btn {
  width: 100%;
  margin-top: 25px; }

.products {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .products {
      width: auto;
      padding: 0 calc((100% - 280px) / 2);
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .products {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 768px) and (min-width: 1300px) {
    .products {
      padding: 0 calc((100% - 1220px) / 2); } }

@media (min-width: 768px) {
  .products__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 94px; } }

@media (min-width: 1300px) {
  .products__item {
    margin-right: 82px; } }

@media (min-width: 768px) {
  .products__item:nth-child(2n-1) {
    margin-right: 60px; } }

@media (min-width: 1300px) {
  .products__item:nth-child(2n-1) {
    margin-right: 82px; } }

@media (min-width: 1300px) {
  .products__item:nth-child(4n) {
    margin-right: 0; } }

.program-card {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 25px; }
  @media (min-width: 768px) {
    .program-card {
      padding: 80px 280px 63px 50px;
      position: relative; } }
  @media (min-width: 1300px) {
    .program-card {
      padding: 80px 60px 65px;
      max-width: 570px; } }

.program-card__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 24px;
  padding-left: 69px;
  position: relative; }
  @media (min-width: 768px) {
    .program-card__title {
      font-size: 36px;
      line-height: 36px;
      padding-left: 0;
      margin-bottom: 33px; } }
  @media (min-width: 1300px) {
    .program-card__title {
      font-size: 36px;
      line-height: 37px;
      padding-left: 166px;
      margin-bottom: 80px; } }
  .program-card__title::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .program-card__title::before {
        width: 200px;
        height: 200px;
        top: 0;
        left: 400px; } }
    @media (min-width: 1300px) {
      .program-card__title::before {
        width: 100px;
        height: 100px;
        left: 0;
        top: -30px; } }

.program-card__description {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .program-card__description {
      font-size: 16px;
      line-height: 24px;
      border: none; } }
  @media (min-width: 1300px) {
    .program-card__description {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px; } }

.program-card__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase; }
  .program-card__link:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .program-card__link {
      font-size: 20px;
      line-height: 20px; } }

.programs {
  padding-top: 22px; }

.programs__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .programs__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .programs__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 1300px) {
    .programs__content-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

@media (min-width: 1300px) {
  .request-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 calc((100% - 1220px) / 2); } }

.request-form__submit-wrapper {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .request-form__submit-wrapper {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .request-form__submit-wrapper {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 768px) {
    .request-form__submit-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.request-form__btn {
  width: 100%;
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .request-form__btn {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: auto;
      margin-right: 60px; } }

.request-form__footnote {
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  text-align: center;
  display: block; }
  @media (min-width: 768px) {
    .request-form__footnote {
      font-size: 16px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: left; } }

.show-more {
  padding: 0 calc((100% - 280px) / 2);
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 84px;
  padding-bottom: 25px; }
  @media (min-width: 768px) {
    .show-more {
      padding: 162px 40px 40px;
      border: 1px solid #e6e6e6;
      max-width: 324px; } }
  @media (min-width: 1300px) {
    .show-more {
      max-width: 245px; } }

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 12px; }
  @media (min-width: 768px) {
    .show-more__title {
      font-size: 20px; } }

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  margin-bottom: 26px; }
  @media (min-width: 768px) {
    .show-more__text {
      font-size: 16px; } }

.site-list {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #e6e6e6; }
  @media (min-width: 768px) {
    .site-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 70%;
      border: none; } }

.site-list__item {
  padding-top: 26px;
  padding-bottom: 26px;
  border-top: 1px solid #e6e6e6; }
  @media (min-width: 768px) {
    .site-list__item {
      border: none;
      margin-left: 36px;
      padding: 0; } }

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500; }
  @media (min-width: 768px) {
    .site-list__link {
      font-size: 16px;
      line-height: 55px;
      font-weight: 400;
      padding-bottom: 14px; } }
  @media (min-width: 1300px) {
    .site-list__link {
      font-size: 20px;
      line-height: 24px;
      color: inherit; } }

@media (min-width: 768px) {
  .site-list__item--active .site-list__link {
    border-bottom: 2px solid #68b738; } }

@media (min-width: 1300px) {
  .site-list__item--inverse .site-list__link {
    border-bottom: 2px solid #ffffff; } }

.site-list__link:link:hover,
.site-list__link:visited:hover {
  opacity: 0.6; }

.site-list__link:link:active,
.site-list__link:visited:active {
  opacity: 0.3; }

@media (min-width: 768px) {
  .slider {
    width: 600px;
    margin: 0 auto; } }

@media (min-width: 1300px) {
  .slider {
    position: absolute;
    left: 50%;
    top: -20px; } }

.slider__label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  cursor: pointer; }
  @media (min-width: 768px) {
    .slider__label {
      font-size: 20px;
      line-height: 20px;
      padding-bottom: 6px;
      border-bottom: 1px dotted #cdcdcd; }
      .slider__label:focus, .slider__label:hover {
        outline: none;
        border-bottom: 1px solid #cdcdcd; } }

.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.slider__before:checked ~ .slider__scale {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.slider__scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .slider__scale {
      width: 428px;
      height: 6px;
      background-color: #e6e6e6;
      border-radius: 3px; } }

@media (min-width: 768px) {
  .slider__indicator {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-image: radial-gradient(#68b738 0, #68b738 4px, #ffffff 5px, #ffffff 100%);
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px; }
    .slider__indicator:hover {
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer; } }

.social {
  width: 100%;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .social {
      width: auto; } }

.social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.supplies__heading {
  padding-left: calc((100% - 280px) / 2);
  border-bottom: 2px solid #68b738;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  margin-bottom: 17px; }
  @media (min-width: 768px) {
    .supplies__heading {
      padding-left: calc((100% - 708px) / 2);
      margin-bottom: 75px; } }

.supplies__heading-text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  display: inline-block;
  background-color: #ffffff;
  -webkit-transform: translate(-20px, 10px);
          transform: translate(-20px, 10px);
  padding-left: 20px;
  padding-right: 24px; }
  @media (min-width: 768px) {
    .supplies__heading-text {
      font-size: 36px;
      line-height: 36px;
      padding: 0 35px;
      -webkit-transform: translate(-5px, 10px);
              transform: translate(-5px, 10px); } }
  @media (min-width: 1300px) {
    .supplies__heading-text {
      padding: 0 40px;
      -webkit-transform: translate(-295px, 10px);
              transform: translate(-295px, 10px); } }

.supplies__content-center {
  width: auto;
  padding: 0 calc((100% - 280px) / 2);
  margin: 0 auto; }
  @media (min-width: 768px) {
    .supplies__content-center {
      padding: 0 calc((100% - 708px) / 2); } }
  @media (min-width: 1300px) {
    .supplies__content-center {
      padding: 0 calc((100% - 1220px) / 2); } }
  @media (min-width: 1300px) {
    .supplies__content-center {
      padding: 0; } }
  @media (min-width: 1300px) {
    .supplies__content-center {
      width: 895px; } }

.supplies__list {
  list-style: none; }
  @media (min-width: 1300px) {
    .supplies__list {
      display: block; } }

.supplies__item {
  border-top: 1px solid #cdcdcd;
  padding-top: 14px;
  padding-bottom: 17px; }
  .supplies__item:last-child {
    border-bottom: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .supplies__item {
      padding: 30px 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (min-width: 1300px) {
    .supplies__item {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.supplies__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .supplies__title {
      display: inline-block;
      margin-bottom: 0; } }
  @media (min-width: 1300px) {
    .supplies__title {
      font-size: 20px;
      line-height: 20px; } }

.supplies__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 768px) {
    .supplies__wrapper {
      display: inline-block;
      margin-right: 0;
      margin-left: auto; } }
  @media (min-width: 1300px) {
    .supplies__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      max-width: 290px; } }

.supplies__amount,
.supplies__price {
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }
  @media (min-width: 768px) {
    .supplies__amount,
    .supplies__price {
      text-align: right; } }
  @media (min-width: 1300px) {
    .supplies__amount,
    .supplies__price {
      font-size: 16px;
      line-height: 20px; } }

@media (min-width: 1300px) {
  .supplies__amount {
    text-align: left; } }

@media (min-width: 768px) {
  .supplies__price {
    margin-left: 52px; } }

.supplies__btn {
  width: 100%;
  margin-top: 20px; }
  @media (min-width: 1300px) {
    .supplies__btn {
      max-width: 245px;
      margin: 0 0 0 35px; } }
