*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmeduim.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  color: $color-black;
  font-weight: 400;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  @include visually-hidden;
}

img {
  max-width: 100%;
  height: auto;
}
