@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin titletext($size, $line) {
  font-size: $size;
  line-height: $line;
  font-weight: 400;
  color: $color-black;
}

@mixin copytext($size, $line) {
  font-size: $size;
  line-height: $line;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: $color-copy;
}

@mixin content-center {
  width: auto;
  padding: 0 $padding-mobile;
  margin: 0 auto;

  @include tablet {
    padding: 0 $padding-tablet;
  };

  @include desktop {
    padding: 0 $padding-desktop;
  };
}
