$color-primary: #68b738;
$color-primary-dark: #5eaa2f;

$color-background: #f2f2f2;
$color-line: #cdcdcd;
$color-menuline: #e6e6e6;

$color-black: #111111;
$color-copy: #444444;
$color-transparent: rgba(1,1,1,0);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$padding-mobile: calc((100% - 280px)/2);
$padding-tablet: calc((100% - 708px)/2);
$padding-desktop: calc((100% - 1220px)/2);
